.specifications .boxes .box{
    border: 1px solid rgba(69, 115, 217, 10%);
}
.line .line--view{
    background-color: #c4c4c4;
    height: 2px;
    position: relative;
    overflow: hidden;
}
.line .line--view div.active-color.increasing{
    transition: 5s;
}
.line .line--view div.active-color{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.images-list{
    transition: .6s;
}
.images-list.primary{
    z-index: 2;
    opacity: 1;
}
.images-list.secondary{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.images-list .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
}