<div class="section-title mb-10">
    <h1 class="text-[#131418] text-[30px] laptop:text-[40px] font-bold leading-[36px] laptop:leading-[46px] laptop:w-[300px]">
        Área de Implantação
    </h1>
</div>
<div class="section-content flex flex-col gap-7 laptop:gap-0 laptop:flex-row justify-between">

    <div class="specifications laptop:w-[30%]">
        <div class="boxes flex flex-col gap-7">

            <div class="box flex gap-5 rounded-[4px] p-5">
                <div class="icon">
                    <img src="assets/svg/icons/implantation/check.svg" alt="">
                </div>
                <div class="description">
                    <p class="text-[#131418] laptop:text-[16px]">
                        Área do Terreno:
                    </p>
                    <p class="text-[#131418] laptop:font-semibold laptop:text-[16px]">
                        14 hectares
                    </p>
                </div>
            </div>

            <div class="box flex gap-5 rounded-[4px] p-5">
                <div class="icon">
                    <img src="assets/svg/icons/implantation/check.svg" alt="">
                </div>
                <div class="description">
                    <p class="text-[#131418] laptop:text-[16px]">
                        Área de Implantação:
                    </p>
                    <p class="text-[#131418] laptop:font-semibold laptop:text-[16px]">
                        34.349,97 m2
                    </p>
                </div>
            </div>

            <div class="box flex gap-5 rounded-[4px] p-5">
                <div class="icon">
                    <img src="assets/svg/icons/implantation/check.svg" alt="">
                </div>
                <div class="description">
                    <p class="text-[#131418] laptop:text-[16px]">
                        Área Bruta de Construção:
                    </p>
                    <p class="text-[#131418] laptop:font-semibold laptop:text-[16px]">
                        50.433, 17 m2
                    </p>
                </div>
            </div>

            <div class="box flex gap-5 rounded-[4px] p-5">
                <div class="icon">
                    <img src="assets/svg/icons/implantation/check.svg" alt="">
                </div>
                <div class="description">
                    <p class="text-[#131418] laptop:text-[16px]">
                        Total de Habitações:
                    </p>
                    <p class="text-[#131418] laptop:font-semibold laptop:text-[16px]">
                        346
                    </p>
                </div>
            </div>

            <div class="box flex gap-5 rounded-[4px] p-5">
                <div class="icon">
                    <img src="assets/svg/icons/implantation/check.svg" alt="">
                </div>
                <div class="description">
                    <p class="text-[#131418] laptop:text-[16px]">
                        Tipologias:
                    </p>
                    <p class="text-[#131418] laptop:font-semibold laptop:text-[16px]">
                        T3 e T4
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="image relative">

        <div
        class="images-list"
        *ngFor="let image of this.imagesOnSlide"
        [ngClass]="{'primary': image.primary, 'secondary': !image.primary}"
        >
            <div class="img rounded-[4px] h-[280px] laptop:w-[685px] laptop:h-[520px] relative overflow-hidden">
                <img src="{{ image.image }}" alt="">
            </div>
            <div class="bottom-content mt-4 flex flex-col laptop:flex-row laptop:justify-between laptop:items-center gap-3 laptop:gap-0">
                <div class="content laptop:w-[30%]">
                    <p class="text-[13px] laptop:text-[15px] text-[#131418]">
                        <i>{{ image.title }}</i>
                    </p>
                </div>
                <div class="line laptop:w-[65%]">
                    <div class="line--view">
                        <div
                        class="active-color bg-secondary w-[25%]"
                        ></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>