<div class="section-title mb-10">
    <h1 class="text-[#131418] text-[30px] laptop:text-[40px] font-bold leading-[36px] laptop:leading-[46px] w-full laptop:w-[300px]">
        Orlando Residencial
    </h1>
</div>
<div class="section-media relative">

    <div class="media rounded-[4px] laptop:h-[630px] overflow-hidden">

        <video
        id="about"
        [loop]="'loop'"
        [autoplay]="'autoplay'"
        controls
        >
            <source src="https://orlando-website-s3-bucket.s3.amazonaws.com/media/media.mp4" type="video/mp4">
            <!-- <source src="assets/images/about/media/media.mp4" type="video/mp4"> -->
            Seu navegador não suporta o vídeos  HTML5
        </video>

    </div>

</div>
<div class="content-boxes mt-10">
    <div class="boxes flex flex-col laptop:flex-row gap-5 laptop:gap-0 justify-between items-center">

        <div class="box flex flex-col laptop:w-[382px]">
            <div class="box-header mb-3">
                <img src="assets/svg/icons/about/location-marker.svg" alt="">
            </div>
            <div class="box-content">
                <p class="laptop:text-[14px]">
                    Com uma privilegiada localização, nasce na Centralidade do
                    Kilamba, o Condomínio “Orlando Residencial”. Um novo conceito
                    imobiliário, onde Ser Feliz é Prioridade!
                </p>
            </div>
        </div>

        <div class="box flex flex-col laptop:w-[382px]">
            <div class="box-header mb-3">
                <img src="assets/svg/icons/about/flag.svg" alt="">
            </div>
            <div class="box-content">
                <p class="laptop:text-[14px]">
                    Próximo da Via Expressa e na Avenida Imperial Santana, o
                    “Orlando Residencial” vai superar as suas expectativas e
                    realizar o que você sempre sonhou
                </p>
            </div>
        </div>

        <div class="box flex flex-col laptop:w-[382px]">
            <div class="box-header mb-3">
                <img src="assets/svg/icons/about/heart.svg" alt="">
            </div>
            <div class="box-content">
                <p class="laptop:text-[14px]">
                    Juntámos a praticidade e comodidade num conceito habitacional
                    moderno, num ambiente que valoriza as áreas verdes e o bem estar
                    dos seus futuros moradores.
                </p>
            </div>
        </div>

    </div>
</div>